<div class="movie">
    <h2>Title: {{ title }}</h2>
    <img
        src="{{ imageUrl }}">
    <p>Available Tickets: {{ tickets }}</p><button><a href="#/movie/buy">Buy Ticket</a></button>
    <button><a href="#/movies/details/{{_id}}">Details</a></button>
</div>